#wrapper{
    display: flex;
    margin: 120px;
}
.content-body p{
    font-size: 25px;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 30%;
}
.shadow{
    
}
.container{
    position: relative;
}
.layer1{
    display: flex;
    transform: skewX(170deg);
}

.layer2{
    transform: skewX(170deg);
}
.layer3{
    transform: skewX(170deg);
}
.bg{
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;

}
